@import "~bootstrap/scss/bootstrap";
@import "accueil";
@import "artist";

body {
    background-color: #22496a;
}

h1{
    text-align: center;
    margin-top: 50px;
}

.space{
    height: 50px;
}

#btn-edit{
    margin-left: 91px;
}
