<form method="post" action="{{ path('artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet artiste ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
    <button class="btn btn-danger mt-2">Supprimer l'artiste</button>
</form>
